.typewriter {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  animation: typewriter 0.5s steps(40, end) 1 normal both,
    blink-caret 0.75s step-end infinite;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.delay2 {
  animation-delay: 0.5s;
}

.delay3 {
  animation-delay: 1s;
}
